.list-container {
  min-height: 100px;
  max-height: 240px;
  overflow: auto;
  margin-top: 5px;
}

.list-inner-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.empty-container {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
}

.empty {
  max-height: 100px;
  max-width: 100%;
  pointer-events: none;
  user-select: none;
}

.list-container::-webkit-scrollbar {
  width: 5px;
}

.list-container::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 3px;
}

.list-container::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 3px;
}

.list-item {
  position: relative;
  height: 22px;
  padding-left: 4px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.list-item.active {
  font-weight: 700;
  padding-left: 16px;
  transition-duration: 100ms;
  transition-property: background-color, padding;
}

.list-item.active:before {
  background-image: url(../../../public/images/play.svg);
  background-size: 16px 16px;
  background-position: center;
  background-repeat: no-repeat;
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  top: 0;
  width: 16px;
}

.list-item:hover {
  background-color: #f5f5f5;
}

.list-item > button {
  padding: 0;
  border: none;
  font: inherit;
  color: #26b1cf;
  background-color: transparent;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}

.list-item > button:enabled:hover {
  text-decoration: underline;
  cursor: pointer;
}

.list-item-remove:hover {
  padding-right: 20px;
}

.list-item-remove:hover .btn-delete-item {
  transform: translateX(0);
}

.btn-delete-item {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.1s ease-in;
  transform: translateX(20px);
  cursor: pointer;
  position: absolute;
  width: 20px;
  bottom: 0;
  top: 0;
  right: 0;
}

.btn-delete-item:hover {
  background-color: #e2e9ea;
}

.btn-delete-item .delete-icon {
  display: block;
  height: 17px;
  width: 17px;
  background-size: 17px 17px;
  background-image: url(../../../public/images/delete.svg);
}
